:root {
  --blauw: rgb(0, 100, 200);
  --green: rgb(0, 155, 150);
  --grijs: rgb(150,150,150);
}

* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font: 100% / 200% 'Avenir';
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--green);
}

main {
  padding: 2rem;
}
header {
  height: 400px;
}
h1{
  font-family: 'Avenir Black';
  text-transform: lowercase;
  font-size: 8em;
  color: white;
  margin-top: 60px;
  padding: 0;
  transition: 0.5s ease-in-out;
  width: 250px;
  transition: ease-in-out;
}

h1 span:nth-child(2){
  font-size: 1.3em;
  margin: 0 0 0 -0.3em;
  padding: 0;
}

h1 span:nth-child(3){
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-left: -0.2em;
  margin-bottom: 0;
  padding: 0;
}

h1 span{
   transition: 0.3s ease-in
}

 h1 span:hover{
  color: #000
}

header > p{
  font-size: 3em;
  font-family: 'Avenir Black';
  color: #000;
  text-transform: lowercase;
  margin: -1.5em 0;
  padding: 0;
  width: 250px;
  text-align: center;

}

p span{
  color: #fff;

}
