:root {
  --blauw: rgb(0, 100, 200);
  --green: rgb(0, 155, 150);
  --light-green: rgb(13, 177, 171);
  --grijs: rgb(150,150,150);

}

* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font: 100% / 200% 'Avenir';
}
body {
  padding: 0;
  margin: 0;

  font-family: 'Avenir', Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
main {

  width: 100vw;
  margin: 0 auto;
}

header {
  height: 180px;
}
h1{
  font-family: 'Avenir Black';
  text-transform: lowercase;
  font-size: 8em;
  color: var(--green);
  margin-top: 50px;
  padding: 0;
  transition: 0.5s ease-in-out;
  width: 250px;
  transition: ease-in-out;

}

h1:hover{
  cursor: pointer;
}

h1 span:nth-child(2){
  font-size: 1.3em;
  margin: 0 0 0 -0.3em;
  padding: 0;
}

h1 span:nth-child(3){
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-left: -0.2em;
  margin-bottom: 0;
  padding: 0;
}

h1 span{
   transition: 0.2s ease-in
}

 h1 span:hover{
  color: black;
}

header > p{
  font-size: 3em;
  font-family: 'Avenir Black';
  color: black;
  text-transform: lowercase;
  margin: -1.5em 0;
  padding: 0;
  width: 250px;
  text-align: center;

}
header p{
  transition: 0.5s ease-in;
}
p span{
  color: var(--green);
  transition: 0.5s ease-in;

}
.search-section{
  width: 55vw;
  margin: 0 auto;
}
form input[type="text"] {
  width: 70%;
  height: 6vh;
  font-size: 1.5rem;
  border: 1px solid black;

}
form input[type="text"]::placeholder{
  padding-left: 10px;
  font-style: italic;
  color: var(--grijs);
}

form input[type="submit"]{
  width: 20%;
  height: 6vh;
  font-size: 1.5rem;
  border: none;
  background-color: var(--green);
  color: #fff;
}
form input[type="submit"]:hover {
  background-color: var(--light-green);
  cursor: pointer;
}
form{
  width: 55vw;

}

h2 {
  width: 55vw;
  color: black;
  font-size: 3.5em;
  margin: 0 0 20px;
  line-height: 0.8em;
}
main p{
  color: black;
  font-size: 1.2em;
  width: 40vw;
  padding-right: 30px;
  margin:  0 0 50px 10px;

}
.home{
  display: none;
}

.active{
  display: block;
}

.discover {
  background-color: var(--green);
  width: 100vw;
  padding: 20px;
  margin-top: 12em;
  height: 80vh;

}

.discover h2, .discover p{
  margin: 0 auto;
  width: 55vw;
  padding: 10px;

}
.discover-container{
  display: flex;
  flex-wrap: nowrap;
    overflow: scroll;
}
.discover article h2{
  font-size: 1em;
}


